.sidebar-section {
  display: flex;
   background-color: #030303da
}

.sidebar {
  height: 100vh;
  width: 95px;
  background-color: #030303da;
  position: fixed;
}
.container-fluid {
  padding-left: 0px;
  padding-right: opx;
  overflow: hidden;
}
.sidebar-expand {
  width: 230px;
}
.icon-for-sidebar-expand-and-collapse {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}
.icon-for-sidebar-expand-and-collapse p svg {
  background-color: #19092c;
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin-top: 15px;
}
