.sidebar-profile-pic img {
  border-radius: 90px;
  margin-top: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  margin: 0 auto;
  object-fit: cover;
  vertical-align: middle;
  border: 3px solid yellow;
}
/*s*/
.navbar-items ul li {
  color: white;
  list-style-type: none;
  cursor: pointer;
  margin-top: 30px;
}
.navbar-items ul li svg {
  margin-left: 10px;
  margin-right: 10px;
}
.nav-bar-item-only-icons ul li {
  margin-top: 30px;
  cursor: pointer;
  list-style-type: none;
}
.nav-bar-item-only-icons ul li svg {
  margin-left: 10px;
  margin-right: 10px;
}

 