.home {
  height: 400px;
  /*background-color: #030303da;*/
  color: white;
}
.home-content {
  margin: 100px 0 0 auto;
  padding: 10px;
  padding-left: 100px;
}

.home-content h3 {
  margin-top: 20px;
  color: rgb(242, 227, 13);
}
.button-for-action {
  display: flex;
}
.hire-me-button {
  background-color: #ff854c;
  text-align: center;
  width: 180px;
  padding: 10px;
  border-radius: 90px;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid white;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hire-me-button:hover {
  background-color: white;
  width: 250px;
  color: black;
  transition: 1s;
}

.resume-button {
  background-color: orangered;
  text-align: center;
  width: 180px;
  padding: 10px;
  border-radius: 90px;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid white;
  font-size: 17px;
  margin-left: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.resume-button:hover {
  background-color: rgb(232, 174, 13);
  width: 250px;
  color: black;
  transition: 1s;
}

.resume-button a {
  text-decoration: none;
  color: white;
}
